html {
  font-size: 14px;
  background-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

:root {
  --white: #fff;
  --black: #000;
  --dark: #4e5150;
  --grey1: #a9a9a9;
  --grey2: #e5e5e5;
  --grey3: #b9bdcf;
  --grey4: #bdbdbd;
}

/* BODY */
body {
  background-color: var(--white);
  min-height: 100vh;
  border: 1px solid #333;
  border-radius: 8px;
  color: var(--dark);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 1.71rem 0.86rem;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.79rem;
}

.header .fiche {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fiche img {
  width: 7.14rem;
  border-radius: 1.14rem;
  -webkit-border-radius: 1.14rem;
  -moz-border-radius: 1.14rem;
  -ms-border-radius: 1.14rem;
  -o-border-radius: 1.14rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 10px 30px 0 rgb(0 0 0 / 39%);
}

.fiche h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.21rem;
  text-align: center;
  color: var(--dark);
  margin: 0.86rem 0 0.28rem;
}

.fiche h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.71rem;
  line-height: 0.86rem;
  text-align: center;
  color: var(--grey1);
  margin-bottom: 0.86rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container .info {
  text-align: center;
  width: 5.57rem;
  margin: 0 0.5rem;
  padding: 0.71rem 0 0.43rem;
  background-color: var(--grey2);
  border-radius: 0.86rem;
  -webkit-border-radius: 0.86rem;
  -moz-border-radius: 0.86rem;
  -ms-border-radius: 0.86rem;
  -o-border-radius: 0.86rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 7%);
}

.info .number {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.86rem;
  line-height: 1.07rem;
  text-align: center;
  color: var(--dark);
}

.info .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.86rem;
  line-height: 1.07rem;
  text-align: center;
  color: var(--grey4);
}

/* MAIN */
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}

.pht {
  width: 100%;
  overflow: hidden;
  border-radius: 0.86rem;
  -webkit-border-radius: 0.86rem;
  -moz-border-radius: 0.86rem;
  -ms-border-radius: 0.86rem;
  -o-border-radius: 0.86rem;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
  -webkit-filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.pht img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main:hover img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.pht:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.main {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  gap: 0.86rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30%);
  grid-template-areas: "img1 img2 img2" "img3 img3 img4" "img6 img5 img4";
  max-width: 69rem;
  max-height: 70rem;
}

.main .pht img:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

/* FOOTER */
.footer {
  padding-top: 3.14rem;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.21rem;
  text-align: center;
}

/* LINK */
.footer a {
  text-decoration: none;
  color: #a9a9a9;
}

/* MEDIA QUERIES */
@media screen and (min-width: 700px) {
  body {
    padding-top: 4.29rem;
  }

  .fiche img {
    width: 11.14rem;
  }

  .fiche h1 {
    font-size: 1.71rem;
    line-height: 2.07rem;
    margin: 1.14rem 0 0.57rem;
  }

  .fiche h2 {
    font-size: 1rem;
    line-height: 1.21rem;
    margin-bottom: 1.71rem;
  }

  .container .info {
    width: 7.14rem;
    margin: 0 0.85rem;
    padding: 1rem 0 1.21rem;
  }

  .info .number {
    font-size: 1.29rem;
    line-height: 1.57rem;
  }

  .info .text {
    font-size: 1rem;
    line-height: 1.21em;
  }

  .main {
    gap: 1.14rem;
  }

  .footer {
    padding-top: 9.57rem;
  }
}
