/* RESET */

html {
    font-size: 14px;
    background-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */

:root {
    --white: #fff;
    --black: #000
    --dark: #333;
}

/* BODY */

body {
    color: var(--black);
    background-color: var(--white);
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5.07rem 1.29rem 1.71rem 0.86rem;
    border: 1px solid #333;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


/* HEADER */

.header .title h1 {
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    align-self: flex-start;
    width: fit-content;
}

.header .info h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    align-self: flex-start;
    padding: 2.71rem 0 0.71rem 0;
}

.header .info p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 3.71rem;
}

/* MAIN */

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 7px;
    max-width: max-content;
}

/* IMAGES */

.main div img {
    width: 100%;
    max-width: 238px;
}

/* NAME */

div > p[class*="name"] {
    margin-top: 0.71rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

/* CONTAINER */

.main div {
    width: 42%;
    margin-bottom: 1.14rem;
}

/* PICTURE OFFSET*/

.main div:nth-child(2n) {
    margin-top: 3.43rem;  
}

/* FUNCTION */

div span[class*="function"] {
    position: absolute;
    font-family: PT Serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.14rem; 
    white-space: nowrap;
    margin-left: 1.14rem;
    transform: rotate(0.25turn);
    -webkit-transform: rotate(0.25turn);
    -moz-transform: rotate(0.25turn);
    -ms-transform: rotate(0.25turn);
    -o-transform: rotate(0.25turn);
    transform-origin: 0 0;
}
/*


/* FOOTER */

.footer {
    padding-top: 8.42rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

/* LINK */

.footer a {
    text-decoration: none;
    color: #a9a9a9;
}

/* SIGNATURE */

.sign {
    font-weight: bold;
}

/* MEDIA QUERIES */

@media screen and (min-width: 700px) {

    body {
        padding: 7.75rem 1.3rem 2.1rem 1.3rem;
    }

    .header {
        max-width:900px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.85rem;
    }

    .header .title {
        width: 100%;
    }

    .title h1 {
        white-space: nowrap;
    }

    .header .info {
        margin-left: 6.71rem;
    }

    .header .info h3 {
        padding: 0 0 10px 0;
    }

    .header .info p {
        font-size: 1.29rem;
        line-height: 1.93rem;
        margin-bottom: 0rem;
    }

    div > p[class*="name"] {
        font-size: 1.29rem;
        line-height: 1.93rem;
    }
}

@media screen and (min-width: 700px) {

    .main {
        margin-right: -1.29rem;
        max-width: 64rem;
        padding-left: 0px;
    }

    .main div {
        width:auto;
        margin:0 1rem 0.7rem 0;
    }
}

@media screen and (min-width: 375px) and (max-width: 700px) {
    .header .info p {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
        max-width: 26rem;
    }

    .header {
        margin-right: auto;
    }
}

@media screen and (min-width: 650px) {
    .main div {
        width: 27%;
    }

    .main div:nth-child(2n) {
        margin-top: 0rem; 
    }

    .main div:nth-child(3n+2) {
        margin-top: 6.86rem;  
    }
}
